<mat-toolbar color="primary">
  <div class="container d-flex">
    <!-- Logo -->
    <div class="logo" routerLink="/home">
      <!-- Aquí va tu logo -->
      <img
        src="../../../../assets/images/logo_italiapn.png"
        alt="Logo"
        width="150"
      />
    </div>

    <!-- Espacio para que los botones vayan a la derecha -->
    <div class="spacer"></div>

    <!-- Botones -->
    <div class="button-container">
      <button mat-button class="example-text-button" aria-label="Inicio">
        Inicio
      </button>
      <button mat-button class="example-text-button d-md-flex d-sm-none" aria-label="inicio"(click)="scrollToSection('nosotros')">
        Nosotros
      </button>
      <button mat-button class="example-text-button d-md-flex d-sm-none" aria-label="Nosotros"(click)="scrollToSection('precio')">
        precios
      </button>
      <button
        mat-button
        class="example-text-button d-md-flex d-sm-none"
        aria-label="Servicios"
        (click)="scrollToSection('servicios')"
      >
        Servicios
      </button>
    </div>

    <!-- Redes sociales -->
    <div class="social-media-container d-md-flex d-sm-none">
      
      <a
        href="https://www.facebook.com/profile.php?id=100052189226268"
        class="facebook example-text-button"
        target="_blank"
      >
        <mat-icon>facebook</mat-icon>
      </a>
      <!-- <a href="#" class="instagram example-text-button" aria-label="Instagram" style="display:none;">
        <img
          src="../../../../assets/images/icons-instagram.svg"
          alt="instagram"
          width="25"
        />
      </a> -->
      <a href="https://wa.me/393899088839" class="whatsapp example-text-button" aria-label="WhatsApp" target="_blank">
        <img src="../../../../assets/images/icons-whatsapp.svg" alt="WhatsApp" width="25">
      </a>
      
    </div>
    <div class="d-md-none burger">
      <a
        href="#"
        class="social-media-icon example-text-button"
        aria-label="Menú de redes sociales"
        [matMenuTriggerFor]="redesMenu"
      >
        <mat-icon>menu</mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>

<!-- <mat-menu #servicesMenu="matMenu">
  <button mat-menu-item (click)="scrollToSection('servicios')">Hospitalidad</button>
  <button mat-menu-item (click)="scrollToSection('servicios')">Destinos</button>
  <button mat-menu-item (click)="scrollToSection('precio')">Precios</button>
</mat-menu> -->
<mat-menu #redesMenu="matMenu">
  <button mat-menu-item   class="example-text-button" aria-label="Nosotros" (click)="scrollToSection('nosotros')">
    Nosotros
  </button>
 <a href="">
  <button mat-menu-item   class="example-text-button" aria-label="precios"(click)="scrollToSection('precio')">
    precios
  </button>
 </a>
  <!-- <button
    mat-button
    class="example-text-button"
    [matMenuTriggerFor]="servicesMenu"
    aria-label="Servicios"
  >
    Servicios
  </button> -->
  <button mat-menu-item>
    <a
      href="https://web.facebook.com/profile.php?id=100048665486794"
      class="facebook example-text-button"
    >
      <mat-icon>facebook</mat-icon>
    </a>
  </button>
  <!-- <button mat-menu-item >
    <a href="#" class="instagram example-text-button" aria-label="Instagram">
      <img
        src="../../../../assets/images/icons-instagram.svg"
        alt="instagram"
        width="25"
      />
    </a>
  </button> -->
  <button mat-menu-item>
    <a
    href="https://wa.me/393899088839"
      class="whatsapp example-text-button"
      aria-label="WhatsApp"
      target="_blank"
    >
      <img
        src="../../../../assets/images/icons-whatsapp.svg"
        alt="WhatsApp"
        width="25"
      />
    </a>
    
  </button>
</mat-menu>
