<section class="container-home">
  <div class="container-text">
    <div>
      <h1 class="m-0 pb-16">IMPERIAL SERVICE TOURS</h1>
      <p class="m-0">
        SOMOS LA AGENCIA NUMERO <strong>1</strong> DE VENTAS <br />DE PASAJES
        AÉREOS EN ROMA
      </p>
    </div>
  </div>
</section>
<section class="section-somos" id="nosotros" >
  <div class="container container-somos d-flex">
    <div class="col-6">
      <div class="container-us font-size-custom">CONÓCENOS</div>
      <div class="divider-text vision-text-color"></div>
      <div class="description-us">
        Brindamos asesoría personalizada a cada uno de nuestros clientes con sus
        viajes de negocios, vacaciones, alojamientos y más.
      </div>
      <div class="container-vision">
        <div>
          <div class="container-us font-bold font-size-custom">VISIÓN :</div>
          <div class="divider-text vision-text"></div>
        </div>
        <div class="vision-description">
          Dar siempre el mejor servicio a la comunidad Latinoamericana.
        </div>
      </div>
    </div>
    <div class="col-6 img-asesoria">
      <img src="../../../assets/images/nosotros_01.jpeg" alt="" />
    </div>
    <!-- -->
  </div>
</section>
<section class="section-services" id="precio">
  <div class="container container-somos">
    <div class="">
      <div class="container-us what-text font-size-custom"><strong>¿QUE INCLUYE EL PRECIO?</strong></div>
      <div style="color:white;" class="pb-3">Nos acomodamos a ti, ofreciendote gran variedad de precios en base a tus necesidades</div>
      <div class="container-cards">
        <ng-container *ngFor="let item of itemsServices">
          <mat-card class="example-card">
            <mat-card-content>
              {{ item.description }}
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<section class="section-service" id="servicios">
  <div class="container">
    <div class="container-us font-size-custom">SERVICIOS</div>
    <div class="divider-text"></div>
    <div class="container-service row">
      <div class="col-md-4 col-sm-12 container-service-list" *ngFor="let value of services">
        <mat-card class="example-card mat-card">
            <img alt="Photo of a Shiba Inu" mat-card-image src="{{value.img}}">
            <mat-card-content class="mat-card-content">
                <div class="card-body">
                    <h3 class="card-title">{{value.title}}</h3>
                    <div>{{value.description}}</div>
                </div>
                <div class="button-services d-flex " (click)="showDetail(value)">
                  <button mat-flat-button color="primary" >Ver más detalle</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    
    </div>
  </div>
</section>
