// PRIMARY

$imperial-color-primary-90: #004c99;
$imperial-color-primary-70: #3a74b0;
$imperial-color-primary-50: #749bc8;
$imperial-color-primary-30: #aec3df;
$imperial-color-primary-10: #e8eaf6;

//SECONDARY
$imperial-color-secondary-90: #10a2dc;
$imperial-color-secondary-70: #48b7e3;
$imperial-color-secondary-50: #7ccceb;
$imperial-color-secondary-30: #afe0f3;
$imperial-color-secondary-10: #e3f4fb;

//SUCCESS
$imperial-color-success-90: #009999;
$imperial-color-success-70: #38b0b0;
$imperial-color-success-50: #70c6c6;
$imperial-color-success-30: #a8dddd;
$imperial-color-success-10: #e0f3f3;

//DANGER
$imperial-color-danger-90: #e91868;
$imperial-color-danger-70: #fa547e;
$imperial-color-danger-50: #fb84a3;
$imperial-color-danger-30: #fdb5c7;
$imperial-color-danger-10: #fee5eb;

//WARNING
$imperial-color-warning-90: #FFDE03;

//LIGHT
$imperial-color-light-90: #959596;
$imperial-color-light-70: #c6c7c8;
$imperial-color-light-50: #f8f9fa;
$imperial-color-light-30: #f9fafb;
$imperial-color-light-10: #fbfbfc;

//DARK
$imperial-color-dark-90: #000000;
$imperial-color-dark-70: #1f1f20;
$imperial-color-dark-50: #3d3e40;
$imperial-color-dark-30: #5c5d5f;
$imperial-color-dark-10: #7a7c7f;

// NEUTRALS
$imperial-color-modal-90: #ffffff;
$imperial-color-border-90: #eeeef1;

//MODAL
$imperial-color-modal-50: #2f1515;
// 25% transparencia
$imperial-color-border-25: rgba(243, 244, 246, 0.25);
$imperial-color-avatar-25: rgba(20, 163, 219, 0.3);
