<section class="footer-info">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h3>CONTACTANÓS</h3>
        <div>
          <div>
            Síguenos
            </div>
          <div class="d-flex icons-footer">
            <a href="https://web.facebook.com/profile.php?id=100048665486794" class="facebook example-text-button">
              <img src="../../../../assets/images/icons-w-facebook.svg" alt="instagram" >
            </a>
            <a href="#" class="instagram example-text-button" aria-label="Instagram">
              <img src="../../../../assets/images/icons-w-instagram.svg" alt="instagram" >
            </a>
            <a href="https://wa.me/51992074892" class="whatsapp example-text-button" aria-label="WhatsApp">
              <img src="../../../../assets/images/icons-w-tik-tok.png" alt="WhatsApp" >
            </a>
            <a href="https://wa.me/51992074892" class="whatsapp example-text-button" aria-label="WhatsApp">
              <img src="../../../../assets/images/icons-w-youtube.svg" alt="WhatsApp" >
            </a>
          </div>
          <div> © Copyright 2023. <br> Todos los Derechos Reservados.</div>
        </div>
      </div>
      <div class="col-4">
        <h3>Seguridad, rapidez y garantía.</h3>
        <div class="d-flex mb-3"><mat-icon> location_on</mat-icon><div>Vía Cernaia 19 Roma</div></div>
        <div class="d-flex mb-3"><mat-icon>phone</mat-icon><div>39 3899088839</div></div>
        <div class="d-flex"><mat-icon>phonelink_setup</mat-icon><div>39 3899088839</div></div>
      </div>
      <div class="col-4">
        <h3>SERVICIOS</h3>
        <div>description</div>
      </div>
    </div>
  </div>
</section>
