@import "../../../../scss/index.scss";
.footer-info {
  background: #031888; /* Coloca el pie de página al fondo del contenedor principal */
  width: 100%; /* Haz que la sección ocupe todo el ancho del contenedor principal */
  height: 12rem;
  color: #ffffff;
  padding: 1rem 0 2rem;
}
mat-icon {
  color: #ffffff;
}
.icons-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  a {
    img {
      width: 1.5rem;
      background: #304ad0;
      margin: 0.5rem;
      padding: 0.3rem;
      border-radius: 0.5rem;
    }
  }
}
.border-footer{
  border-bottom:none;
}
@media (max-width: 768px) {
  .col-4 {
    width: 50%;
  }
  .footer-info {
    height: 18rem;
  }
}

@media (max-width: 600px) {
  .contactanos {
    -bs-gutter-x: 1.5rem; 
   --bs-gutter-y: 0; 
   display: block; 
   flex-wrap: nowrap; 
   margin-top: 0; 
   margin-right: 0; 
   margin-left: 0;
    .col-4 {
      width: 100%;
    }
  }
  .footer-info {
    height: 34rem;
  }
  .footer-custom {
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .icons-footer{
    text-align: center;
    justify-content: center;
  }
  .border-footer {
    border-bottom: 2px solid white;
    padding: 1rem;
  }
  .container{
    width: calc(100% - 2rem) !important;
  }
}
